@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
    background-color:#083156 !important;
    color:#D1FAE5 !important;
    font-family: 'Poppins', sans-serif !important;
  }